<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

<body>

    <!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	<!-- /Banner -->
                    
            
<main>

             <form action="/" method="POST">                   

                       
                        <p><input type="email" id="Email" name="email" placeholder="Email"></p>

                        
                        <p><input type="password" name="password" id="password" placeholder="Contraseña"></p>

                        <p><input type="checkbox" name="recordame"></p>

                        <p><button class="boton-envio input" type="submit">Enviar</button></p>

                   
                    </form>
</main>


<!-- footer -->
<%- include('partials/footer') %>
<!-- /footer -->

</body>
</html>