body { font-family: 'Roboto', sans-serif; 
    background-color: #ebebeb;
     }

p {
    font-size: 12px;
}

.fondo {
        background-color: #EAC926;
}

img {
    width:100%;
}

.limpio {
        text-decoration: none;
        list-style: none;
}

#titulares {
            font-size: 24px;
            color: #666;
            background-color: #ebebeb;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 90%;
            margin-right: auto;
            margin-left: auto;
}    

.precios {
            font-size: 18px;
            font-weight: bold;
            }

.descuentos {
            font-size: 16px;
            color: #39b54a;
}

.descripciones {
            font-size: 16px;
}

hr {
    height: 20px;
    background-color: #ebebeb;
  }


.otro-titulo {
            font-size: 18px;
            font-weight: bold;
}

#negrita {
            font-weight: bold;
}

#titulo-formulario {

                font-size: 20px;
                font-weight: bold;
}

.half {
    width: 50%;
}

.oculta {
    display: none;
}

.texto {
    text-align: center;
}



.boton-azul {    
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px; 
    
}

.boton-azul :hover {
    color: #0022AA;
    cursor: pointer;
}

.pie {
    padding: 20% 5%;
}     

.art-pie {
    margin-top: 20px;
    margin-bottom: 20px;
}

 
